{% extends "base.html" %}

{% block title %}{{ title }} >> Admin{% endblock %}

{% block content %}
<article>
	<header>
		<h2>Blog Settings</h2>
	</header>
	<table id="admin_posts">
		<thead>
		<tr>
			<th>Setting</th>
			<th>Value</th>
		</tr>
		</thead>
		<tbody>
			<form method="post" action="/admin/settings" id="admin_edit">
			<tr>
				<td>Blog Title</td>
				<td><input type="text" name="frontpage_posts" value="{{ settings.title }}"></td>
			</tr>
			<tr>
				<td>Posts per page</td>
				<td><input type="text" name="frontpage_posts" value="{{ settings.frontpage_posts }}"></td>
			</tr>
			<tr>
				<td>Google Analytics Code</td>
				<td><input type="text" name="frontpage_posts" value="{{ settings.google_analytics.code }}"></td>
			</tr>
			<tr>
				<td>Google Analytics Enabled</td>
				<td><input type="text" name="frontpage_posts" value="{{ settings.google_analytics.enabled }}"></td>
			</tr>
		<tr>
			<td></td>
			<td>
				<button type="submit" name="action" value="save" class="btn info">save</button>
				<button type="submit" name="action" value="discard" class="btn danger">discard</button>
				</form>
			</td>
		</tr>
		</tbody>
	</table>
</article>
{% endblock %}