@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('PT Sans Narrow'), local('PTSans-Narrow'), url('http://themes.googleusercontent.com/font?kit=UyYrYy3ltEffJV9QueSi4ZTvAuddT2xDMbdz0mdLyZY') format('truetype');
}

@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: normal;
  src: local('Cardo'), url('http://themes.googleusercontent.com/font?kit=jbkF2_R0FKUEZTq5dwSknQ') format('truetype');
}

@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: normal;
  src: local('Crimson Text'), url('http://themes.googleusercontent.com/font?kit=3IFMwfRa07i-auYR-B-zNS3USBnSvpkopQaUR-2r7iU') format('truetype');
}

html {
	background: white;
	color: black;
	font-size: 100%;
}
body {
	font-family: 'Cardo', 'Gill Sans', 'Gill Sans MT', Georgia, Candara, serif;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	font-size: 10px;
}

/* Header */

body > header {
	background: black;
	color: white;	
	font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, "Arial Unicode MS", sans-serif;
	word-spacing: 0.1em;
	letter-spacing: 0.15em;
	padding: 0.5em 10% 0.5em 10%;
	border-bottom: 3px solid #666;
	height: 4em;
/*	margin-bottom: 2.5em;*/
}

body > header > img {
	float: left;
	height: 4em;
	margin-right: 2em;
}

body > header > h1 {
	float: left;
	line-height: 2.5em;
	font-size: 1.6em;
}

body > header > h1 > a,
body > header > h1 > a:visited {
	font: inherit;
	color: white;
	text-decoration: none;
}

body > header > h1 > a:hover;{
	text-decoration: underline;
}

body > header > nav {
	float: right;
	font-size: 1.2em;
	line-height: 3.333em;
}

body > header > nav > ul {
	list-style: none;
}

body > header > nav > ul > li {
	display: inline;
}

body > header > nav > ul > li > a, 
body > header > nav > ul > li > a:visited {
	float: left;
	text-decoration: none;
	text-align: center;
	color: white;
	width: 6em;
}

body > header > nav > ul > li > a:hover {
	background: orange;
}

/* Article */

body > article {
	width: 80%;
/*	max-width: 800px;*/
	margin: 0 auto;
	font-size: 1.2em;
	margin-bottom: 3em;
	margin-top: 2.5em;
}

body > article > header {
	height: 3em;
/*	border-bottom: 1px solid silver;*/
/*	border-top: 1px solid silver;*/
	margin-bottom: 1.2em;
}

body > article > header > h1 {
	float: left;
	font-size: 1.2em;
	line-height: 2.5em;
	font-weight: bold;
	margin: 0;
}

body > article > header > time {
	float: right;
	font-size: 0.8em;
	line-height: 3.75em;
}

body > article > header > h1 > a,
body > article > header > h1 > a:visited {
	text-decoration: none;
	color: black;
}

body > article > p {
/*	word-spacing: 0em;*/
/*	letter-spacing: 0;	*/
	line-height: 1.8em;
	margin-bottom: 1em;
}

body > article a {
	text-decoration: none;
}
body > article a:hover {
	text-decoration: underline;
}

/* Sidebar */
aside#sidebar {
/*	float: right;
	width: 15em;
	margin-right: 5%;
	min-height: 100em;
	height: 100%;*/
}

/* Footer */

footer {
	text-align: center;
	font-size: 1em;
	line-height: 2em;
}


/* General Elements */

code,
pre,
blockquote {
	white-space: pre;	
	font-family: 'Menlo Regular','Courier New', courier, monospace;
	font-size: small;
}

code {
	color: #303030;
	margin: 0;
	padding: 0;
}
	
pre {
	white-space: pre-wrap;
	color: #eee;
	background: black;
	width: 80%;
	margin: 0 auto;
	padding: 1em;
/*	overflow-y: hidden;*/
	-moz-box-shadow: 5px 5px 5px #ccc;
	-webkit-box-shadow: 5px 5px 5px #ccc;
	box-shadow: 5px 5px 5px #ccc;
	margin-bottom: 1.2em;
}

pre::selection {
	background: orange;
}
pre::-moz-selection {
	background: orange;
}

h1,
h2 {
/*	font-size: 1em;*/
	font-weight: 600;
	margin-bottom: 1.2em;
}

em {
	font-weight: bold;
}

img {
	border: 0;
}

figure {
	width: 80%;
/*	border: 4px solid red;*/
}

figure > figcaption {
	text-align: center;
	margin-bottom: 3em;
	font-style: italic;
	width: 80%;
	margin: 0 auto;
}

#admin_posts {
	width: 100%;
	margin: 0 auto;
}

#admin_posts td {
	line-height: 1.8em;
}

#admin_posts thead {
	font-weight: bold;
}

#admin_edit input,
#admin_edit textarea {
	width: 80%;
	margin-bottom: 2em;
}

#admin_edit textarea {
	height: 150px;
}

/* Admin Aside Mainpage */

body > #admin_nav {
	height: 2em;
	background: silver;
	padding: 0.1em 10% 0.1em 10%;
}

body > #admin_nav > p {
	float: left;
	font-size: 1.2em;
	line-height: 1.6667em;
}

body > #admin_nav > nav {
	float: right;
	font-size: 1.2em;
	line-height: 1.6667em;
}

body > #admin_nav > nav > ul {
	list-style: none;
}

body > #admin_nav > nav > ul > li {
	display: inline;
	float: left;
	text-align: center;
	width: 6em;
	color: black;
	text-transform: lowercase;
}

body > #admin_nav a,
body > #admin_nav a:visited {
	text-decoration: none;
	color: black;
	width: 100%;
}

body > #admin_nav a:hover {
	text-decoration: underline;
/*	background: red;*/
}
