{% extends "base_new.html" %}

{% block title %}Nik Cubrilovic - Projects{% endblock %}

{% block content %}
<style>
.profile_image {
	float: left;
	padding-right: 12px;
	padding-bottom: 12px;
}
</style>
<article> 
	<header>
		<h1>Nik Cubrilovic</h1>
	</header>
	<img src="/img/nik.png" class="profile_image">
	<p>Australian-born serial entrepreneur, writer and hacker. Currently working on pre-launch startups, previously at Techcrunch, Omnidrive and a number of other startups since 2000. Lived in Australia, Bosnia, the UK, South Africa and the USA. Currently based in Wollongong, Australia. University drop-out, experience at CEO and CTO. Blogging since '99. Writer at Techcrunch from 2007. Founding member of 2600 Australia.  Named in Australia's The Bulletin magazine in 2007 as one of Australia's 'Smart 100', 'Smart 10 under 30' and top 10 technology entrepreneurs.</p>
	<p><a href="http://www.crunchbase.com/person/nik-cubrilovic">Crunchbase Profile</a> for more information.</p>
	<p>The software for this blog is called Buckley. It is Python on GAE, and is open source and available on Github: <a href="http://github.com/nikcub/nikcub-blog">http://github.com/nikcub/nikcub-blog</a>. I have released the code under a BSD license and I will eventually setup a project page.</p>
</article>


{% endblock %}

