{% extends "base.html" %}

{% block title %}Nik Cubrilovic - Consulting{% endblock %}

{% block content %}
<h1>Consulting</h1>
<p>I will be posting more information about each of these projects on the blog in the following days.</p>
<article> 
	<header> 
		<h1> 
			<a href="/projects/buckley" rel="bookmark" title="Fidelio">Buckley</a> 
		</h1>
	</header>
	<p>Stage: <i>Alpha</i></p>
	<p>A blogging tool written in Python for Google App Engine (powers this blog).</p>
	<p>Features include JSON and XML API, generic asset types and a plugin architecture.</p>
	<p>GitHub: <a href="http://github.com/projects/nikcub-blog/">nikcub-blog</a></p>
</article>

{% endblock %}
