{% extends "base_new.html" %}

{% block title %}Nik Cubrilovic - Consulting{% endblock %}

{% block content %}
<h1>Consulting</h1>
<article> 
 	<p>I am currently available for consulting, development and advisory work. My capacity varies depending on my schedule, it 
		is best to email me to find out.</p>
		
	<p>Primarily work with startups or with smaller groups within larger corporations.</p>
	
	<p>Consulting and Advisory:</p>
	
	<ul>
		<li>Startup fundraising, company formation and structuring, investor introductions, options, general entrepreneurial advice</li>
		<li>Public relations: work on press introductions (my contacts are mostly tech press), PR campaigns, blog posts, launch planning</li>
		<li>Outsource and offshore planning. Developer recruitment (USA, Australia, India mostly).</li>
		<li>Product planning, specifications, technology requirements, product evaluations (CRM, email)</li>
		<li>Strategic market analysis, user surveys, user testing and feedback</li>
		<li>Prototype development: working with other developers to rapidly build proof of concept prototypes</li>
		<li>Available as a short-term part-time technical co-founder, and/or introductions to potential tech co-founders</li>
		<li>Technology decisions such as PaaS or cloud hosting (preferred platforms AppEngine, Dotcloud, AWS)</li>
		<li>NoSQL spec/migration, platform selection, etc.</li>
	</ul>
	
	<p>My experience varies across a large number of tech platforms and markets. Ten years as an entrepreneur involved with a dozen startups, and 15 years technical experience as a developer. <a href="mailto:nikcub@gmail.com">Email me</a> or skype 'cubrilovic' - if in doubt, just ask.</p>
</article>

{% endblock %}
