{% extends "base_new.html" %}

{% block title %}Nik Cubrilovic - Contact{% endblock %}

{% block content %}
<style>
.profile_image {
	float: left;
	padding-right: 12px;
	padding-bottom: 12px;
}
</style>
<article> 
	<header>
		<h1>Contact and Tips</h1>
	</header>
	<p>I am interested in any information about potential user privacy or security violations. I can guarantee your anonymity. I
		can be reached by email on nikcub at gmail.com. If you prefer not to leave your name, setup an account at <a href="http://hushmail.com">hushmail.com</a></p>

		<p>My Public Key is:</p>
		<p><blockquote>
			</blockquote></p>
</article>


{% endblock %}

