{% extends "base_new.html" %}

{% block title %}New Web Order - Nik Cubrilovic Blog{% endblock %}

{% block content %}
{% for post in posts %}
	{% if loop.first %}
	<article><h3>Latest Post - {{ post.pubdate|timesince }} ago</h3></article>
	<article> 
		<header> 
			<h1> 
				<a href="/posts/{{ post.stub }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a> 
			</h1> 
		</header>
	</article>
	<article><h3>Older Posts</h3></article>
	{% else %}
	<article> 
		<header> 
			<time datetime="{{ post.pubdate|tformat("Y-m-d") }}" pubdate>{{ post.pubdate|timesince }} ago</time> - 
			<b> 
				<a href="/posts/{{ post.stub }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a> 
			</b> 
		</header>
	</article>
	{% endif %}
{% endfor %}
{% endblock %}
