<div class="span3 columns">
<p><b>A blog by Nik Cubrilovic</b></p>
<p><span class="icon_nik"></p>



<p><i> Entrepreneur, hacker and writer <a href="/about">about</a></i></p>
<ul class="details">
	<li><a href="http://twitter.com/nikcub" alt="Nik Cubrilovic - Twitter"><span class="icon twitter"/><span class="txt">Twitter</span></a></li>
	<li><a href="https://plus.google.com/105854725972317368943" alt="Nik Cubrilovic - Google+"><span class="icon gplus"/><span class="txt">Google+</span></a></li>
	<li><a href="http://nikcub.appspot.com/feed" alt="Nik Cubrilovic - News Feed"><span class="icon feed"/><span class="txt">Feed</span></a></li>
	<li><a href="mailto:nikcub@gmail.com" alt="Nik Cubrilovic - Email"><span class="icon gmail"/><span class="txt">Email</span></a></li>
	<li><a href="http://bitbucket.org/nik" alt="Nik Cubrilovic - BitBucket"><span class="icon bitbucket"/><span class="txt">Bitbucket</span></a></li>
	<li><a href="http://github.com/nikcub" alt="Nik Cubrilovic - GitHub"><span class="icon github"/><span class="txt">Github</span></a></li>
</ul>

	<h5>Pages</h5>
	<p><a href="/about">About</a></p>
	<p><a href="/consulting">Consulting</a></p>
	
<div class="alert-message warning">
	<h5>Tips and Contact</h5>
	<p>If you have any tips or information about privacy, security or tech related please contact me, anonymity assured</p>
	<p><a href="/contact">Contact and Tips</a></p>
</div>

</div>
</div>