{% extends "base.html" %}

{% block title %}Nik Cubrilovic Blog{% endblock %}
{% block disqus_script %}
var disqus_identifier = "{{ post.stub }}";
// var disqus_developer = 1;
var disqus_url = "http://nikcub.appspot.com/{{ post.stub }}";
{% endblock %}

{% block content %}
{% if post %}
<article> 
	<header> 
		<h1> 
			<a href="/{% firstof post.stub post.key %}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a> 
		</h1>
		<time datetime="{{ post.pubdate|date:"Y-m-d" }}" pubdate>{{ post.pubdate|date:"jS F Y" }}</time>
	</header>
	<p>{{ post.content_html }}</p>
	<!-- <p><a href="http://nikcub.appspot.com/{{ post.stub }}#disqus_thread">Comments</a></p> -->
	<div id="disqus_thread" style="margin-top: 4em;"></div>
	<script type="text/javascript">
	  /**
	    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
	    */
	  (function() {
	   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	   dsq.src = 'http://nikcub.disqus.com/embed.js';
	   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	  })();
	</script>
</article>
{% endif %}
{% endblock %}
